<h1>Fila de Processamento</h1>
<ul>
{% for processamento in processamentos%}
	<li> {{processamento}}
		{% if processamento.processado == -1 %}
		<font color="red"> NA FILA</font>
		{% endif %}
		{% if processamento.processado == 0 %}
		<font color="blue"> PROCESSANDO</font>
		{% endif %}
		{% if processamento.processado == 1 %}
		<font color="green"> PROCESSADO</font>
		{% endif %}
	</li>

{% endfor %}
</ul>
