<h1>Gerenciamento de Estoque</h1>
<ul>
	<li><a href="produto/cadastrar.html">Cadastro de Produtos</a></li>
	<li><a href="produto/registrarCompra.html">Registrar Compra de Produtos</a></li>
	<li><a href="produto/listar.html">Listar Produtos</a></li>
	<li><a href="produto/filaProcessamento.html">Fila de Processamento</li>
</ul>

